/* The flip card container */
.flip-card {
  margin: 20px 20px;
  border-radius: 7px;
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px;
  cursor: pointer;
}
/* This container positions the front and back side */
.flip-card-inner {
  border-radius: 7px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.22);
}

/* Position the front and back side */
.flip-card-back,
.flip-card-front-one,
.flip-card-front-two,
.flip-card-front-three,
.flip-card-front-four {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Card front side */
.flip-card-front-one {
  border-radius: 7px;
  background-image: url('images/musicfront.png');
  background-size: cover;
}
.flip-card-front-two {
  border-radius: 7px;
  background-image: url('images/turbofront.png');
  background-size: cover;
  height: 100%;
  width: 100%;
}
.flip-card-front-three {
  border-radius: 7px;
  background-image: url('images/hangfront.png');
  background-size: cover;
}
.flip-card-front-four {
  border-radius: 7px;
  background-image: url('images/wowback.png');
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* Card back side */
.flip-card-back {
  display: flex;
  justify-content: center;
  border-radius: 7px;
  transform: rotateY(180deg);
  position: relative;
}
/* image on back side */

.flip-card-back-one {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  border-radius: 7px;
  background-image: url('images/musicback.png');
  background-size: cover;
}
.flip-card-back-two {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  border-radius: 7px;
  background-image: url('images/turboback.png');
  background-size: cover;
}
.flip-card-back-three {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  border-radius: 7px;
  background-image: url('images/hangvid2.gif');
  background-size: cover;
}
.flip-card-back-four {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  border-radius: 7px;
  background-image: url('images/wowvid.gif');
  background-size: 400px 400px;
}

/* Back side content wrapper */
.flip-card-back-content {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

/* ------------------------------------------------------------------ */

@media only screen and (max-width: 1100px) {
  .flip-card {
    height: 380px;
    width: 380px;
  }
}

@media only screen and (max-width: 900px) {
  .flip-card {
    height: 360px;
    width: 360px;
  }
}

@media only screen and (max-width: 800px) {
  .flip-card {
    height: 340px;
    width: 340px;
  }
}

@media only screen and (max-width: 700px) {
  .flip-card {
    height: 320px;
    width: 320px;
  }
}

@media only screen and (max-width: 500px) {
  .flip-card {
    height: 280px;
    width: 280px;
  }
}
