/* The flip card container */
.flip-card {
  margin: 20px 20px;
  border-radius: 7px;
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px;
}
/* This container positions the front and back side */
.flip-card-inner {
  border-radius: 7px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.22);
}
/* horizontal flip when you mouse over the flip container */
.project-content:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back,
.flip-card-front-2,
.flip-card-front-three {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Card front side */
.flip-card-front {
  border-radius: 7px;
  background-image: url('hangman.png');
  background-size: cover;
}
.flip-card-front-2 {
  border-radius: 7px;
  background-image: url('wowback.png');
  background-size: cover;
  height: 100%;
  width: 100%;
}
.flip-card-front-three {
  border-radius: 7px;
  background-image: url('musicback.jpeg');
  background-size: contain;
  height: 100%;
  width: 100%;
}
/* Card back side */
.flip-card-back {
  display: flex;
  justify-content: center;
  border-radius: 7px;
  transform: rotateY(180deg);
  position: relative;
}
/* Frosted image on back side */
.flip-card-back-frost {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  border-radius: 7px;
  background-image: url('hangman2.png');
  background-size: contain;
  filter: blur(2px);
}
.flip-card-back-frost-2 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  border-radius: 7px;
  background-image: url('wowback.png');
  background-size: contain;
  filter: blur(2px);
}
.flip-card-back-frost-three {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  border-radius: 7px;
  background-image: url('musicback.jpeg');
  background-size: cover;
  filter: blur(2px);
}
/* Back side content wrapper */
.flip-card-back-content {
  width: 400px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}


/* ------------------------------------------------------------------ */

.frosted-wrapper {
  opacity: 0;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  height: 400px;
  width: 100%;
  overflow: hidden;
}

.frosted-glass {
  background: url(background.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  filter: blur(13px);
  position: absolute;
  height: 500px;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
}

.frosted-text-wrapper {
  opacity: 0;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: auto;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 500px;
}

.frosted-text-wrapper-two {
  opacity: 0;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: auto;
  flex-direction: row;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 500px;
}

.frosted-text-wrapper-two img {
  width: 200px;
  margin: 0px 80px;
  filter: drop-shadow(0px 0px 5px white);
  transition: filter 1s ease-in;
}

.frosted-text-wrapper-two img:hover {
  filter: invert(100%) drop-shadow(0px 0px 5px black);
}

.frosted-text-wrapper h1 {
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 55px;
}

.frosted-text-wrapper p {
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  margin-top: 8px;
  font-weight: 200;
  font-size: 25px;
}