html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --------------------------------------------------- */

body {
  background: url(background.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Signika', sans-serif;
}

.frosted-wrapper{
  opacity: 0;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border-top: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  height: 400px;
  width: 100%;
  overflow: hidden;
}

.frosted-glass {
  background: url(background.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  filter: blur(13px);
  position: absolute;
  height: 500px;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
}

.frosted-text-wrapper {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: auto;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 500px;
}

.frosted-text-wrapper h1 {
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px rgba(0, 0, 0, .5);
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 55px;
}

.frosted-text-wrapper p {
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px rgba(0, 0, 0, .5);
  margin-top: 8px;
  font-weight: 200;
  font-size: 25px;
}

.header {
    letter-spacing: 1.5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: transparent;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  border-radius: 8px;
  text-align: center;
  margin: 10px;
  padding: 4px 10px;
  color: white;
  text-shadow: 1px 1px 3px black;
  transition: background-color 0.4s ease-in, color 0.4s ease-in;
}

.header-github {
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-github img {
  width: 35px;
  transition: filter 0.4s ease-in;
}

.header-github img:hover {
  filter: invert(100%);
}

.box:hover {
  background-color: white;
  color: black;
}

.blur-line {
  width: 100%;
  height: 3px;
  background-color: black;
  filter: blur(0.7px);
}

.nick-image {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nick-image h1 {
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, .5);
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 30px;
}

.nick-image img {
  border-radius: 50%;
  width: 450px;
  border: 3px solid white;
  box-shadow: 0px 0px 4px black;
}