/* --------------------------------------------------- */
body {
  /* background: url(background.jpg) no-repeat center center fixed;
  background-size: cover; */
  font-family: 'Signika', sans-serif;
}

.header {
  letter-spacing: 1.5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: all 0.35s ease-in-out;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  border-radius: 8px;
  text-align: center;
  margin: 10px;
  padding: 4px 10px;
  color: white;
  text-shadow: 1px 1px 3px black;
  transition: background-color 0.4s ease-in, color 0.4s ease-in;
  cursor: pointer;
  user-select: none;
}

.header-github {
  margin-left: 15px;
}

.header-github img {
  width: 35px;
  filter: drop-shadow(0px 0px 5px white);
  transition: filter 0.4s ease-in;
}

.header-github img:hover {
  filter: invert(100%);
}

.box:hover {
  background-color: white;
  color: black;
}

/* --------------------------------------------------- */

.nick-image {
  border-radius: 50%;
  width: 450px;
  border: 3px solid white;
  box-shadow: 0px 0px 4px black;
}

/* --------------------------------------------------- */

.splash {
  height: 95vh;
  background-image: url(background.jpg);
  background-size: cover;
}

/* --------------------------------------------------- */

.projects {
  background-color: gray;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-title {
  font-size: 30px;
  margin-top: 30px;
}

.project-content {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  padding: 20px;
  margin: 30px;
}

.project-text {
  color: black;
}

.project-image {
  width: 800px;
}

/* --------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-wrapper {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-content img {
  width: 60px;
  margin: 0px 80px;
  filter: drop-shadow(0px 0px 5px white);
  transition: filter 1s ease-in;
}

.footer-content img:hover {
  filter: invert(100%) drop-shadow(0px 0px 5px black);
}

.copyright p {
  color: white;
}
