body {
  font-family: 'Signika', sans-serif;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.relative-anchor {
  position: relative;
}

.projects-anchor {
  position: absolute;
  top: -70px;
  left: 0;
}

/* ----------------------HEADER----------------------------- */
.header {
  letter-spacing: 1.5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: all 0.35s ease-in-out;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.box {
  border-radius: 8px;
  text-align: center;
  margin: 10px;
  padding: 4px 10px;
  color: white;
  text-shadow: 1px 1px 3px #171717;
  transition: all 0.4s ease-in;
  cursor: pointer;
  font-size: 20px;
}

.header-github {
  margin-left: 30px;
}

.header-resume {
  text-decoration: none;
  color: #ffffff;
  font-size: 45px;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}

.resume-text {
  display: none;
  font-size: 22px;
  color: #ffffff;
}

.header-resume:hover {
  filter: invert(100%);
}

.box:hover {
  background-color: #ffffff;
  color: #171717;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
}

/* ------------------------SPLASH--------------------------- */
.splash {
  width: 100%;
  height: 100vh;
  background-image: url(background.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #171717, 0 0 20px #171717,
    0 0 30px #171717;
  width: 500px;
}

.splash h1 {
  font-size: 50px;
}

.splash h2 {
  font-size: 40px;
}

.splash p {
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
}

.title-line {
  border: 2px solid #ffffff;
  height: 0px;
  width: 300px;
  box-shadow: 0 0 5px #fff, 0 0 10px #171717, 0 0 20px #171717, 0 0 30px #171717;
}

/* -------------------------PROJECTS-------------------------- */

.projects {
  /* , #23a6d5, #23d5ab) */
  /* background: linear-gradient(-45deg, rgb(252, 191, 25), rgb(255, 72, 163)); */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #ee7751, #e73c7d);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.project-title {
  font-size: 60px;
  margin: 20px;
  text-shadow: 1px 2px 4px #171717;
  margin-top: 40px;
}
.project-image {
  width: 800px;
}

.project-content {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 20px auto;
  border-radius: 10px;
  width: 500px;
  transition: all 1s ease-in-out;
}

.music-text,
.hang-text,
.iss-text {
  display: none;
}
.project-text {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  color: #171717;
  padding: 20px;
  width: 560px;
}

.project-text h1 {
  font-size: 30px;
  margin-bottom: 15px;
  text-decoration: underline;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.23);
}

.project-text p {
  font-size: 18px;
  padding-right: 10px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.23);
}

/* Technologies wrapper */
.technologies-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.technologies-list li {
  background-color: #ffffff;
  color: #171717;
  border-radius: 2.5px;
  padding: 4px 7.5px;
  font-size: 20px;
  margin: 5px;
  margin-top: 10px;
  box-shadow: 0px 2px 4px #171717;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.23);
}

/* Link wrapper */
.card-links {
  display: flex;
}

.link {
  color: #ffffff;
  margin: 5px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid #ffffff;
  border-radius: 3px;
  font-size: 20px;
  box-shadow: 0px 2px 4px #171717;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: color 0.4s ease-in, background-color 0.4s ease-in;
}

.link-img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  transition: filter 0.4s ease-in;
}

.link:hover {
  color: #171717;
  background-color: #ffffff;
}
.link:hover .link-img {
  filter: invert(100%);
}

/* ----------------------ABOUT ME----------------------------- */

.about-me {
}

.nick-image {
  border-radius: 50%;
  width: 450px;
  border: 3px solid #ffffff;
  box-shadow: 0px 0px 4px #171717;
  margin: 20px;
}

/* ------------------------FOOTER--------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-wrapper {
  background-color: #171717;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-content img {
  width: 60px;
  margin: 0px 80px;
  filter: drop-shadow(0px 0px 5px #ffffff);
  transition: filter 1s ease-in;
}

.footer-content img:hover {
  filter: invert(100%) drop-shadow(0px 0px 5px #171717);
}

.copyright p {
  color: #ffffff;
}
