body {
  font-family: 'Signika', sans-serif;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.relative-anchor {
  position: relative;
}

.projects-anchor {
  position: absolute;
  top: -70px;
  left: 0;
}

/* ----------------------HEADER----------------------------- */
.header {
  letter-spacing: 1.5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: all 0.35s ease-in-out;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.box {
  border-radius: 8px;
  text-align: center;
  margin: 10px;
  padding: 4px 10px;
  color: white;
  text-shadow: 1px 1px 3px #171717;
  transition: all 0.4s ease-in;
  cursor: pointer;
  font-size: 20px;
}

.header-github {
  margin-left: 30px;
}

.header-resume {
  text-decoration: none;
  color: #ffffff;
  font-size: 45px;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}

.resume-text {
  display: none;
  font-size: 22px;
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #171717;
}

.header-resume:hover {
  filter: invert(100%);
}

.box:hover {
  background-color: #ffffff;
  color: #171717;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
}

/* ------------------------SPLASH--------------------------- */
.splash {
  width: 100%;
  height: 100vh;
  background-image: url(images/background.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #171717, 0 0 20px #171717,
    0 0 30px #171717;
  width: 500px;
}

.splash h1 {
  font-size: 70px;
}

.splash h2 {
  font-size: 55px;
}

.splash p {
  text-align: center;
  font-size: 22px;
  margin-top: 50px;
  line-height: 1.2;
}

.title-line {
  margin: 15px;
  border: 2px solid #ffffff;
  height: 0px;
  width: 350px;
  box-shadow: 0 0 5px #fff, 0 0 10px #171717, 0 0 20px #171717, 0 0 30px #171717;
}

/* -------------------------PROJECTS-------------------------- */

.projects {
  /* background: linear-gradient(-45deg, rgb(252, 191, 25), rgb(255, 72, 163)); */
  background: linear-gradient(
    135deg,
    rgba(40, 133, 182, 1) 0%,
    rgba(57, 31, 21, 1) 46%,
    rgba(57, 31, 21, 1) 74%
  );
  background-size: 400% 400%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.project-title {
  font-size: 60px;
  margin: 20px;
  text-shadow: 0 0 5px #fff, 0 0 10px #171717, 0 0 20px #171717,
    0 0 30px #171717;
  margin-top: 40px;
  color: #ffffff;
}

.project-content {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 20px auto;
  border-radius: 10px;
  width: 500px;
  transition: all 1s ease-in-out;
}

.music-text,
.hang-text,
.iss-text {
  display: none;
}
.project-text {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  padding: 20px;
  width: 560px;
  text-shadow: 0 0 5px #fff, 0 0 10px #171717, 0 0 20px #171717,
    0 0 30px #171717;
}

.project-text h1 {
  font-size: 30px;
  margin-bottom: 15px;
  text-decoration: underline;
}

.project-text p {
  font-size: 18px;
  padding-right: 10px;
}

.technologies-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.technologies-list li {
  background-color: #ffffff;
  color: #171717;
  border-radius: 2.5px;
  padding: 4px 7.5px;
  font-size: 20px;
  margin: 5px;
  margin-top: 10px;
  box-shadow: 0px 2px 4px #171717;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.23);
}

.card-links {
  display: flex;
}

.link {
  color: #ffffff;
  margin: 5px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid #ffffff;
  border-radius: 3px;
  font-size: 20px;
  box-shadow: 0px 2px 4px #171717;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.23);
  transition: all 0.4s ease-in-out;
}

.link-img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  transition: filter 0.4s ease-in-out;
}

.link:hover {
  color: #171717;
  background-color: #ffffff;
}
.link:hover .link-img {
  filter: invert(100%);
}

/* ----------------------ABOUT ME----------------------------- */

.about-me {
}

.nick-image {
  border-radius: 50%;
  width: 350px;
  border: 3px solid #ffffff;
  box-shadow: 0px 0px 4px #171717;
  margin: 20px;
  margin-bottom: 60px;
}

/* ------------------------FOOTER--------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.footer-wrapper {
  background-color: #171717;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.footer-content i {
  color: #ffffff;
  font-size: 45px;
  margin: 5px 80px;
  transition: all 0.1s ease-in-out;
}

.footer-content i:hover {
  text-shadow: 0 0 7px #fff, 0 0 10px #171717, 0 0 20px #171717;
}

.copyright p {
  color: #ffffff;
}

/* ------------------------MEDIA QUERIES--------------------------- */

@media only screen and (max-width: 1100px) {
  .header-right,
  .header-left {
    margin: 0px 0px;
  }
  .project-text h1 {
    font-size: 27px;
  }
  .project-text p {
    font-size: 15px;
  }
  .footer-content i {
    font-size: 45px;
    margin: 5px 60px;
  }
  .technologies-list li {
    font-size: 18px;
  }
}

@media only screen and (max-width: 900px) {
  .link {
    font-size: 18px;
  }
  .link-img {
    width: 25px;
    height: 25px;
  }
  .technologies-list li {
    font-size: 16px;
  }
  .project-title {
    font-size: 50px;
  }
  .resume-text {
    font-size: 17px;
  }
}

@media only screen and (max-width: 750px) {
  .technologies-list li {
    font-size: 14px;
  }
  .project-text h1 {
    font-size: 27px;
  }
  .project-text p {
    font-size: 15px;
  }
  .footer-content i {
    font-size: 35px;
    margin: 5px 40px;
  }
  .box {
    font-size: 17px;
  }
}

@media only screen and (max-width: 700px) {
  .project-content {
    align-items: center;
    flex-direction: column;
    width: 400px;
  }
  .project-text {
    width: 420px;
  }
  .project-text-top {
    padding: 20px;
  }
  .project-text-bottom {
    padding: 10px;
  }
  .footer-content i {
    font-size: 35px;
    margin: 5px 30px;
  }
  .header {
    height: 55px;
  }
  .projects-anchor {
    top: -55px;
  }
}

@media only screen and (max-width: 500px) {
  .box {
    font-size: 14px;
  }
  .header-resume {
    font-size: 35px;
  }
  .header-github {
    margin-left: 18px;
  }
  .splash h1 {
    font-size: 45px;
  }
  .splash h2 {
    font-size: 35px;
  }
  .splash p {
    width: 300px;
    font-size: 18px;
    margin-top: 40px;
  }
  .project-title {
    font-size: 40px;
  }
  .title-line {
    margin: 15px;
    border: 2px solid #ffffff;
    height: 0px;
    width: 200px;
  }

  .project-content {
    width: 320px;
  }
  .project-text {
    width: 320px;
  }
  .footer-content i {
    font-size: 30px;
    margin: 5px 15px;
  }
  .nick-image {
    width: 300px;
  }
}
